.navbar {
    // border: 2px solid red;
    width: 90%;
    ul {
        display: flex;
        justify-content: space-evenly;
        padding: 15px;

        li {
            list-style: none;
            // border: 2px solid white;
            margin: 0 15px;
            a {
                color: whitesmoke;
            }
        }
    }
}
